<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.ezenmarket.mypage.mapper.MyPageXmlMapper">
    
   <select id="getPost" parameterType="Integer" resultType="com.ezen.ezenmarket.mypage.dto.Post">
       SELECT
           post.post_id, post.title, post.price, postImage.image_URL
       FROM
           post, postImage
       WHERE 
          (postImage.post_id, postImage.post_image_id) in 
         (select postImage.post_id, min(postImage.post_image_id) FROM postImage GROUP BY postImage.post_id)
        AND
           post.post_id = postImage.post_id
        AND
           post.user_number =#{user_number}
       ORDER BY updated DESC
   </select>
   
   <select id="getZzim" parameterType="Integer" resultType="com.ezen.ezenmarket.mypage.dto.Post">
      SELECT
         p.post_id, p.title, p.price, pi.image_url
      FROM
         post p
      INNER JOIN
         wishlist w ON p.post_id = w.post_id
      INNER JOIN
         postimage pi ON p.post_id = pi.post_id
      WHERE
         (p.post_id, pi.post_image_id) IN (SELECT post_id, min(post_image_id) FROM postImage GROUP BY post_id) AND w.user_number = #{user_number}
   </select>
   
   <select id="getReviewList" parameterType="Integer" resultType="com.ezen.ezenmarket.mypage.dto.Review">
      SELECT 
         u.user_number, u.nickname, p.title AS title, u.user_image, r.review_Content AS review_content
      FROM 
         endDeal e
      INNER JOIN 
         userlist u ON e.buyer_user_number = u.user_number
      INNER JOIN 
         post p ON e.post_Id = p.post_id
      INNER JOIN 
         review r ON e.endDeal_Id = r.endDeal_Id
      WHERE 
         e.seller_user_number = #{user_num}
      ORDER BY 
         review_id DESC 
   </select>
   
   <select id="getReviewCount" resultType="Integer">
      SELECT 
         count(*)
      FROM 
         endDeal e
      INNER JOIN 
         userlist u ON e.buyer_user_number = u.user_number
      INNER JOIN 
         post p ON e.post_Id = p.post_id
      INNER JOIN 
         review r ON e.endDeal_Id = r.endDeal_Id
      WHERE 
         e.seller_user_number = #{user_num}
   </select>
   
   <select id="getUserProfile" parameterType="Integer" resultType="com.ezen.ezenmarket.mypage.dto.Profile">
      SELECT 
         nickname, user_intro, user_image
      FROM 
         userlist
      WHERE 
         user_number = #{user_number}
   </select>
   
   <select id="getPostCount" parameterType="Integer" resultType="Integer">
      SELECT 
         count(*)
      FROM 
         post
      WHERE 
         user_number = #{user_number}
   </select>
   
   <update id="updatePost" parameterType="Integer">
      UPDATE
         post
      SET
         updated = sysdate
      WHERE
         post_id=#{post_Id}
   </update>
   
   <delete id="deletePost" parameterType="Integer">
      DELETE FROM
         post
      WHERE
         post_id=#{post_Id}
   </delete>
   
   <delete id="deleteZzim" parameterType="com.ezen.ezenmarket.mypage.dto.Post">
      DELETE FROM
         wishlist
      WHERE
         user_number=#{user_number}
      AND
         post_Id=#{post_Id}
   </delete>
   
   
   <select id="nickCheck" resultType="int">
      SELECT 
         COUNT(nickname) 
      FROM 
         userlist 
      WHERE 
         nickname=#{nickName}
   </select>
   
   <update id="modifyNick">
      UPDATE
         userlist
      SET
         nickname = #{nickName}
      WHERE
         user_number=#{user_number}
   </update>
   
   <update id="modifyIntro">
      UPDATE
         userlist
      SET
         user_intro = #{userintro}
      WHERE
         user_number=#{user_number}
   </update>
   
   <!--  내 상점관리 클릭 시 나오는 판매상품들 리스트 -->
   <select id="getmanagement"  resultType="com.ezen.ezenmarket.mypage.dto.Post">
       SELECT post_id, image_url, title, price, updated FROM post 
       INNER JOIN postImage USING (post_id) 
       WHERE (post_id, post_image_id) 
       IN (SELECT post_id, min(post_image_id) FROM postImage 
       GROUP BY post_id) 
       AND user_number = #{user_number} 
       ORDER BY post_id DESC
   </select>
   
   <select id="zzimCountPerPost" resultType="Integer">
   		SELECT count(wishlist_id) FROM wishlist WHERE post_id = #{post_id}
   </select>
   
   <select id="countEndDeal" resultType="Integer">
   		SELECT count(*) FROM enddeal WHERE post_id = #{post_id}
   </select>
   
    <select id="getZzimCount" parameterType="Integer" resultType="Integer">
      SELECT 
         count(*)
      FROM 
         wishlist
      WHERE 
         user_number = #{user_number}
   </select>
   
    <!-- 구매내역 불러오기 -->
   <select id="getBuying" parameterType="Integer" resultType="com.ezen.ezenmarket.mypage.dto.EndDeal">
           SELECT 
         u.user_number, u.nickname, p.title AS title, p.price AS price, i.image_url, e.post_id
      FROM 
         endDeal e
      INNER JOIN 
         userlist u ON e.buyer_user_number = u.user_number
      INNER JOIN 
         post p ON e.post_Id = p.post_id
      INNER JOIN 
         postimage i ON e.post_Id = i.post_id
      WHERE 
         (i.post_id, i.post_image_id) in (select i.post_id, min(i.post_image_id) FROM postImage i GROUP BY i.post_id) 
        AND
            e.buyer_user_number = #{user_num}
      ORDER BY 
         endDeal_id DESC


   </select>
   
   <select id="getBuyingCount" parameterType="Integer" resultType="Integer">
      SELECT 
         count(*)
      FROM 
         enddeal
      WHERE 
         buyer_user_number = #{user_num}
   </select>
   
   <select id="modifyImg">
      UPDATE
         userlist
      SET
         user_image = #{img}
      WHERE
         user_number=#{user_number}
   </select>
   
   <select id="getEndDealList" resultType="Integer">
   		SELECT enddeal_id FROM enddeal WHERE seller_user_number = #{user_number} or buyer_user_number = #{user_number} ORDER BY post_id DESC
   </select>
   
   <select id="getOpponentReview" resultType="com.ezen.ezenmarket.mypage.dto.Review">
   		SELECT *
	      FROM review r
	      INNER JOIN userlist u ON r.user_number = u.user_number
	      INNER JOIN enddeal e ON r.enddeal_id = e.enddeal_id
	      INNER JOIN (SELECT * FROM post) p ON e.post_id = p.post_id
	      WHERE e.enddeal_id = #{enddeal_id} AND NOT r.user_number = #{user_number}

   </select>
   
</mapper>